
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

input {
  /* font-size: calc(10px + 2vmin); */
  width: 20%;
}
#charName {
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}